<div class="modal-body">
    <h4 class="margin-add-bottom-10">{{ title }}</h4>

    <p class="medium-paragraph">{{ message }}</p>
</div>
<div class="modal-footer">
    <ul class="buttons-list padding-add-x-20 padding-add-bottom-20 margin-rm-all">
        <li ng-repeat="btn in buttons">
            <button
                    ng-click="close(btn.result)"
                    class="btn btn-block"
                    ng-class="btn.cssClass">
                {{ btn.label }}
            </button>
        </li>
    </ul>
</div>