<div class='paged-list-container'>
    <ul data-ng-class="listClass" data-infinite-scroll="pager.nextPage(angular.noop, listCache)"
        data-infinite-scroll-distance="1" ng-transclude>
        <list-item data-ng-repeat="result in pager.results" ></list-item>
    </ul>
    <span id="spinner-mini"
          data-us-spinner="{lines: 13, length: 0, width: 5, radius: 14, corners: 1, rotate: 0, direction: 1, color: '#000', speed: 1.7, trail: 100, shadow: false, hwaccel: false, className: 'spinner', zIndex: 2e9, top: 'auto', left: 'auto' }"></span>
</div>