<div class="modal-header">
    {{ title }}
    <button class="btn btn-link pull-right" data-ng-click="$modal.dismiss()"><i class="ml-icon-30"></i></button>
</div>
<div class="modal-body" ng-include="formUrl"></div>
<div class="modal-footer">
    <ul class="buttons-holder btn-btn">
        <li>
            <button type="button" data-ng-click="resetFilter()" class="btn btn-block">
                {{ resetLabel }}
            </button>
        </li>
        <li>
            <button type="button" data-ng-click="applyFilter()" class="btn btn-block btn-primary">
                {{ applyLabel }}
            </button>
        </li>
    </ul>
</div>